<h2><%= title3 %></h2>

<form action="/login" method="POST">

  <label for="username">Username</label>
  <input id="username" type="text" name="username" placeholder="JonSnow">
  <br><br>

  <label for="password">Password</label>
  <input id="password" type="password" name="password" placeholder="Your password">


  <% if (typeof message !== "undefined") { %>
    <div class="error-message"><%= message %></div>
  <% } %>
  <br><br>

  <button>login</button>

  <p class="account-message">
    Do you have not an account?
    <a href="/signup">signup</a>
    <a href="/">Home</a>
  </p>
</form>
