<h2><%= title2%></h2>

<form action="/signup" method="POST" id="form-container" enctype="multipart/form-data">

  <label for="first_name">First Name</label>
  <input id="first_name" type="text" name="first_name" placeholder="Jon">
  <br><br>
  <label for="last_name">Last Name</label>
  <input id="last_name" type="text" name="last_name" placeholder="Snow">
  <br><br>
  <label for="username">Username</label>
  <input id="username" type="text" name="username" placeholder="JonSnow">
  <br><br>
  <label for="email">Email</label>
  <input id="email" type="text" name="email" placeholder="JonSnow@stark.com">
  <br><br>
  <label for="password">Password</label>
  <input id="password" type="password" name="password" placeholder="Your password">


  <% if (typeof message !== "undefined") { %>
    <div class="error-message"><%= message %></div>
  <% } %>
  <br><br>

  <button>Create account</button>

  <p class="account-message">
    Do you already have an account?
    <a href="/login">Login</a>
    <a href="/">Home</a>
  </p>
</form>
