<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css">

  </head>
  <body>
    <h1><%= title %></h1>
    <% if(user){ %>
      <a href="/logout">Logout</a>
      <a href="/profile">My profile</a>
    <% }else{ %>
      <a href="/signup">signup</a>
      <a href="/login">Login</a>
    <% } %>
    <%- body %>
  </body>

  <script src="/javascripts/index.js"></script>

</html>
