<h2><%= title %></h2>
<form action="/products/new" method="POST" id="form-products" enctype="multipart/form-data">

  <label for="name">Name</label>
  <input id="name" type="text" name="name" placeholder="Name">
  <br><br>
  <label for="description">Description</label>
  <input id="description" type="text" name="description" placeholder="My product is...">
  <br><br>
  <label for="avatar">Avatar</label>
  <input id="avatar" type="file" name="avatar">
  <br><br>

<button>Create product</button>

<!-- </form>
<form class="" action="/" method="post">
  <input id="search" type="text" name="search" placeholder= "your search" autocomplete="on">
  <button>Search</button>
</form>
<div id="map" style="height:300px; width:70%"></div>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0MYGy4w2dzNCA5ui3-WwTkFt8pvgd8-U&libraries=places&callback=initService" async defer></script>
<script type="text/javascript" src="/javascripts/map.js"></script> -->
